/*
   Admin Menu Icons
   http://melchoyce.github.io/dashicons/
*/

#adminmenu #menu-posts-project .wp-menu-image:before { 
	content: "\f322";
}

/*
   Admin Tables
*/

table.wp-list-table .column-thumbnail {
	width: 90px;
}
table.wp-list-table .column-title {
	width: 30%;
}

/*
   Admin Media Library
*/

#post-body .compat-field-projects_default_image_size {
	display: none;
}

/*
   Publish Meta Box
*/

.post-type-project #submitdiv .curtime {
	display: none;
}

/*
   Location Meta Box
*/

#projects-location-box {
	overflow: hidden;
}
.form-fieldset {
	display: block;
	margin: 0px;
	font-size: 12px;
	padding-top: 3px;
	padding-bottom: 3px;
	line-height: 24px;
	clear: both;
	overflow: hidden;
	position: relative;
}
.form-fieldset label {
	float: left;
	width: 33%;
	padding: 0;
	vertical-align: middle;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.form-fieldset > input,
.form-fieldset > select,
.form-fieldset .input-group {
	float: right;
	width: 166px;
}
.form-fieldset .input-group {
	position: relative;
	display: block;
}
.form-fieldset .input-group .select-date {
	width: 49%;
	margin: 0;
	padding: 0;
}
.form-fieldset .input-group .miniColors {
}
.form-fieldset .input-group .miniColors-trigger {
	margin: 0;
	position: absolute;
	right: 3px;
	top: 5px;
	background-image: none;
	width: 15px;
	height: 15px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
}
#normal-sortables .form-fieldset input,
#normal-sortables .form-fieldset select,
#normal-sortables .form-fieldset .input-group,
#normal-sortables .form-fieldset .input-group .miniColors {
	width: 65%;
}
#normal-sortables .form-fieldset .input-group .select-date  {
	width: 50%;
}
#normal-sortables .form-fieldset label {
	width: 30%;
}
.map {
	border: 1px solid #DFDFDF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	margin-bottom: 9px;
	width: 100%;
	height: 120px;
	overflow: hidden;
	position: relative;
	margin-right: 15px;
}
.map img {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -160px;
	margin-left: -160px;
}
#normal-sortables .map {
	float: left;
	width: 240px;
	height: 240px;
}
#normal-sortables .location {
	float: left;
}
.external {
	width: 18px;
	height: 18px;
	background-image: url("../images/icons.png");
	background-repeat: no-repeat;
	background-position: right 3px;
	display: none;
	position: absolute;
	left: 235px;
	top: 6px;
	background-color: #fff;	
}

/*
   Taxonomy group Meta Box
*/

.taxonomy-group-footer .taxonomy-group-loader {
	visibility: hidden;
}
.taxonomy-group-list .preset {
	cursor: move;
	padding: 6px;
	overflow: hidden;
	margin-bottom: 5px;
	border: 1px solid #DFDFDF;
	text-shadow: white 0 1px 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	background-color:#ffffff;
}
.taxonomy-group-list .preset-fields {
	text-align: center;
}
.taxonomy-group-list .preset-fields select {
	width: 48.3%;
	margin-bottom: 5px;
}
.taxonomy-group-list .preset-options {
	overflow: hidden;
	margin-bottom: 5px;
}
.taxonomy-group-list .preset-options h4 {
	margin: 0;
	width: 60%;
	float: left;
	color: #333;
	font-weight: bold;
}
.taxonomy-group-list .preset-options a {
	float: right;
}
#normal-sortables .taxonomy-group-list select {
	width: 24.1%;
}

/*
   Attachments Meta Box
*/

#projects-media-list { 
	list-style-type: none; 
	margin: 0; 
	padding: 0;
	overflow: hidden;
}
#projects-media-list li {
	float: left;
	cursor: pointer;
	margin: 10px;
	text-align: center;
}
#projects-media-list li .media-content  {
	line-height: 200px;
	width: 200px; 
	height: 200px;
	display: block;
}
#projects-media-list li.mime-placeholder .media-content {
	background-color: #f1f1f1;
}
#projects-media-list li .media-content img {
	vertical-align: bottom;
	max-width: 100%;
	max-height: 100%;
}
#projects-media-list li.mime-placeholder img {
	vertical-align: middle;
	max-width: 48px;
	max-height: 48px;
}
#projects-media-list li .media-title {
	color: #c0c0c0;
	font-weight: bold;
	display: none;
}

/*
   Media Upload 3.5
*/

.post-type-project .media-frame .gallery-settings,
.post-type-project .media-menu .media-menu-item:first-child,
.post-type-project .media-menu .separator,
.post-type-project .attachment-details label[data-setting=alt],
.post-type-project .attachment-details label[data-setting=description] {
	display: none;
}

.post-type-project .compat-attachment-fields select {
	width: 100%;
}