/*
   Admin Menu
*/

#adminmenu #menu-posts-project .wp-menu-image {
	background-image: url("../images/menu.png");
	background-position: 0px -3px;
}
#adminmenu #menu-posts-project:hover .wp-menu-image, #adminmenu #menu-posts-project.wp-menu-open .wp-menu-image {
	background-position: 0px -35px;
}
#adminmenu #menu-posts-project .wp-submenu-wrap li a span.current {
	color: #333;
	font-weight: bold;
}
#icon-edit.icon32-posts-project {
	background-image: url("../images/screen.png");
	background-position: -4px -7px;
}
body.taxonomy-group .wrap #icon-edit.icon32,
body.taxonomy-group .wrap h2 {
	display: none;
}
body.taxonomy-group #icon-edit.icon32-posts-project {
	background-position: -4px -3px;
}

/*
   Admin Tables
*/

table.wp-list-table .column-thumbnail {
	width: 90px;
}
table.wp-list-table .column-title {
	width: 30%;
}

/*
   Meta Boxes
*/

#projects-location-box {
	overflow: hidden;
}
.form-fieldset {
	display: block;
	margin: 0px;
	font-size: 12px;
	padding-top: 3px;
	padding-bottom: 3px;
	line-height: 24px;
	clear: both;
	overflow: hidden;
	position: relative;
}
.form-fieldset label {
	float: left;
	width: 90px;
	padding: 0;
	vertical-align: middle;
}
.form-fieldset input,
.form-fieldset select,
.form-fieldset .input-group {
	float: left;
	width: 166px;
}
.form-fieldset .input-group {
	position: relative;
	display: block;
}
.form-fieldset .input-group .select-date {
	width: 50%;
	margin: 0;
	padding: 0;
}
.form-fieldset .input-group .miniColors {
}
.form-fieldset .input-group .miniColors-trigger {
	margin: 0;
	position: absolute;
	right: 3px;
	top: 5px;
	background-image: none;
	width: 15px;
	height: 15px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
}
#normal-sortables .form-fieldset input,
#normal-sortables .form-fieldset select,
#normal-sortables .form-fieldset .input-group,
#normal-sortables .form-fieldset .input-group .miniColors {
	width: 200px;
}
#normal-sortables .form-fieldset .input-group .select-date  {
	width: 100px;
}
#normal-sortables .form-fieldset label {
	width: 120px;
}
.map {
	border: 1px solid #DFDFDF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	margin-bottom: 9px;
	width: 100%;
	height: 120px;
	overflow: hidden;
	position: relative;
	margin-right: 15px;
}
.map img {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -160px;
	margin-left: -160px;
}
#normal-sortables .map {
	float: left;
	width: 240px;
	height: 240px;
}
#normal-sortables .location {
	float: left;
}
.external {
	width: 18px;
	height: 18px;
	background-image: url("../images/icons.png");
	background-repeat: no-repeat;
	background-position: right 3px;
	display: none;
	position: absolute;
	left: 235px;
	top: 6px;
	background-color: #fff;	
}

/*
   Taxonomy group Meta Box
*/

.taxonomy-group-footer .taxonomy-group-loader {
	visibility: hidden;
}
.taxonomy-group-list .preset {
	cursor: move;
	padding: 6px;
	overflow: hidden;
	margin-bottom: 5px;
	border: 1px solid #DFDFDF;
	text-shadow: white 0 1px 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	background-color:#ffffff;
}
.taxonomy-group-list select {
	width: 48%;
	margin-bottom: 5px;
}
.taxonomy-group-list .preset-options {
	overflow: hidden;
	margin-bottom: 5px;
}
.taxonomy-group-list .preset-options h4 {
	margin: 0;
	width: 60%;
	float: left;
	color: #333;
	font-weight: bold;
}
.taxonomy-group-list .preset-options a {
	float: right;
}

/*
   Attachments Meta Box
*/

.projects-media-list { 
	list-style-type: none; 
	margin: 0; 
	padding: 0;
	overflow: hidden;
}
.projects-media-list li {
	float: left;
	cursor: pointer;
	margin: 10px;
	text-align: center;
}
.projects-media-list li .media-content  {
	line-height: 240px;
	width: 240px; 
	height: 240px;
	display: block;
}
.projects-media-list li.mime-placeholder .media-content {
	background-color: #f1f1f1;
}
.projects-media-list li .media-content img {
	vertical-align: bottom;
}
.projects-media-list li.mime-placeholder img {
	vertical-align: middle;
	max-width: 48px;
	max-height: 48px;
}
.projects-media-list li .media-title {
	color: #c0c0c0;
	font-weight: bold;
	display: none;
}

/*
   Media Uploader
*/

div.image-size-item {
	margin: 0 0 5px;
}
div.image-size-item label {
	margin: 0 0 0 5px;
	font-weight: bold;
}
div.image-size-item label.help {
	font-weight: normal;
	font-size: 12px;
	font-style: italic;
	color: #333;
}
#media-items .savesend .wp-post-thumbnail {
	margin: 0;
}