/*
   Admin Menu
*/

#adminmenu #menu-posts-project .wp-menu-image {
	background-image: url("../images/projects-icon.png");
	background-position: 6px 6px;
}
#adminmenu #menu-posts-project:hover .wp-menu-image, #adminmenu #menu-posts-project.wp-menu-open .wp-menu-image {
	background-position: 6px -16px;
}
#icon-edit.icon32-posts-project {
	background-image: url("../images/projects-32x32.png");
	background-position: 0px -5px;
}

/*
   Admin Tables
*/

table.wp-list-table .column-thumbnail {
	width: 90px;
}
table.wp-list-table .column-title {
	width: 30%;
}

/*
   Meta Boxes
*/

.box-field {
	display: block;
	overflow: hidden;
	margin: 0.3em 0;
}
.box-field input,
.box-field select,
.box-field .date-select {
	display: block;
	float: right;
	width: 60%;
}
.box-field span {
	display: block;
	float: left;
	padding-top: 0.3em;
}
.box-field .date-select {
	
}
.box-field .date-select select {
	display: inherit;
	float: left;
	width: 48%;
}

/*
   Media Meta Box
*/

#projects-media-list { 
	list-style-type: none; 
	margin: 0; 
	padding: 0;
	overflow: hidden;
}
#projects-media-list li {
	position: relative;
	margin: 10px; 
	padding: 0; 
	float: left; 
	width: 200px; 
	height: 200px;
	display: block;
	cursor: pointer;
}
#projects-media-list li.mime-placeholder {
	background-color: #efefef;
}
#projects-media-list li .media-options,
#projects-media-list li .media-content,
#projects-media-list li .media-type {
	position: absolute;
	display: block;
	color: #ccc;
	text-align: center;
	text-shadow: rgba(255, 255, 255, 0.7) 0 1px 0;
	font-weight: bold;
}
#projects-media-list li .media-content {
	z-index: 20;
	width: 100%;
	height: 100%;
}
#projects-media-list li .media-content img {
	vertical-align: bottom;
}
#projects-media-list li .media-type {
	top: 48%;
	width: 100%;
}

/*
   Media Uploader
*/

div.image-size-item {
	margin: 0 0 5px;
}
div.image-size-item label {
	margin: 0 0 0 5px;
	font-weight: bold;
}
div.image-size-item label.help {
	font-weight: normal;
	font-size: 12px;
	font-style: italic;
	color: #333;
}
#media-items .savesend .wp-post-thumbnail {
	margin: 0;
}
#gallery-settings *, 
#media-items .savesend input[type=submit] {
    display:none;
}

/*
   Settings
*/

